.box-header{:style => "text-align: center; position: relative;"}
  =Time.now.strftime('%B')
  .calendartype{:style => "position: absolute; right: 15px; top: 10px; float: right"}
    .roundtab.month.toggled Month
    .roundtab.week Week
.box{:style => "padding: 0 0 15px 2%"}
  .month-calendar
    .header-cell Sun
    .header-cell Mon
    .header-cell Tues
    .header-cell Wed
    .header-cell Thurs
    .header-cell Fri
    .header-cell Sat
    -day = Time.parse(Time.now.mon.to_s + "/" + Time.now.year.to_s) + 60*60*2 #add two hours to safeguard against daylight savings time
    -day -= (day.wday + 1) * (60*60*24)
    -35.times do |i|
      -day += 60*60*24
      -format = (day.mon == Time.now.mon ? (day.yday == Time.now.yday ? "today" : "") : "lighter")
      -format += " ul" if i == 0
      -format += " ur" if i == 6
      -format += " lr" if i == 34
      -format += " ll" if i == 28
      
      .cell{:class => format}
        .number= day.day
        -@events.find_all{|e| Time.parse(e.date).year == day.year && Time.parse(e.date).yday == day.yday}.each do |event|
          %a.event{:href => "/event/#{event.permalink}"}= event.name
  .week-calendar{:style => "display: none;"}
    .header-cell Sun
    .header-cell Mon
    .header-cell Tues
    .header-cell Wed
    .header-cell Thurs
    .header-cell Fri
    .header-cell Sat
    -days = (0..6).map{|d| Time.now + d*60*60*24}
    -(7 - Time.now.wday).times{days.push days.shift} #rotate array to correct position
    -days.each_with_index do |day, i|
      -format = (day.mon == Time.now.mon ? (day.yday == Time.now.yday ? "today" : "") : "lighter")
      -format += " ul ll" if i == 0
      -format += " ur lr" if i == 6
      
      .cell.week{:class => format}
        .number= day.day
        -@events.find_all{|e| Time.parse(e.date).year == day.year && Time.parse(e.date).yday == day.yday}.each do |event|
          %a.event{:href => "/event/#{event.permalink}"}= event.name
  %br.cl
  
:javascript
  $(document).ready(function(){
    $(".roundtab").click(function(){
      tab = $(this);
      $(".roundtab").removeClass("toggled");
      tab.addClass("toggled");
      if (tab.hasClass("month")){
        $(".week-calendar").hide();
        $(".month-calendar").show();
      } else {
        $(".month-calendar").hide();
        $(".week-calendar").show();
      }
    });
  });