-current_day = nil
.conversation-container.scroll-bottom{:style => "margin: -20px;"}
  -if @messages.length > 100
    .date-box{:style => 'width: 150px; margin-left: 185px; color: #999'} Older messages not shown.
  -@messages.last(100).each do |@message|
    -date = Time.at(@message.date)
    -if date.day != current_day
      .date-box
        -current_day = date.day
        =date.strftime("%b %d")
    =haml :message, :layout => false

%br.cl
.new-message
  .divider
  #file-uploader{:style => 'float: left;'}
    %noscript Please enable JavaScript to use file uploader.
  %input.input.first-focus{:style => "float: left;width: 350px; height: 20px; font-size: 1.3em; margin-left: 10px; display: inline-block;", :href => "/ui/message/#{@collaborator.id}/"}

:javascript
  $(document).ready(function(){
    $(".scroll-bottom").attr("scrollTop",$(".scroll-bottom").attr("scrollHeight"));
    var dual_id = '#{combine_ids(@collaborator.id, @user.id)}';
    console.log("joined channel: "+dual_id);
    if (typeof conversationListener != 'undefined') conversationListener.disconnect();
    conversationListener = new Pusher('84d6245235e5b198d8aa', dual_id);
    conversationListener.bind('addMessage', function(data) {
      console.log("got message.");
      if (data.user_id == '#{@user.id}') return true;
      $('.conversation-container').append(data.content);
      scrollToBottom();
    });
    
    
    var uploader = new qq.FileUploader({
        // pass the dom node (ex. $(selector)[0] for jQuery users)
        element: document.getElementById('file-uploader'),
        // path to server-side upload script
        action: '/message/addfile/#{@collaborator.id}',
        onSubmit: function(id, fileName){
          $('.conversation-container').append("<div class='loading'><div class='sender'></div><div class='colored-box chat gray'><img src='/images/loading.gif'/> Uploading File: <div class='pcnt' style='display: inline'>0</div>%</div></div>");
          scrollToBottom();
        },
        onProgress: function(id, fileName, loaded, total){
          $('.pcnt').text((100*loaded/total).toFixed(2));
        },
        onComplete: function(id, fileName, responseJSON){
          $('.loading').remove();
        }
    });
    $(document).click(function(){
      $('.qq-upload-drop-area').hide();
    });
  });
  function scrollToBottom(){
    $(".conversation-container").stop(true,true).animate({ scrollTop: $(".conversation-container").attr("scrollHeight")}, 500, 'easeOutQuad');
  }
  