-current_day = nil
.conversation-container.scroll-bottom{:style => "margin: -20px;"}
  -if @room.message_ids.length > 50
    .date-box{:style => 'width: 180px; margin-left: 205px; color: #999; text-align: center;'} Older messages not shown.
  -@room.message_ids.last(100).each do |@message_id|
    = $rendered_messages[@message_id] ||= haml :message, :layout => false

%br.cl
.new-message
  .divider
  #file-uploader{:style => 'float: left; margin-left: 46px; min-height: 10px;'}
    %noscript Please enable JavaScript to use file uploader.
  %input.input.first-focus{:style => "float: left;width: 350px; height: 20px; font-size: 1.3em; margin-left: 10px; display: inline-block;", :href => "/ui/message/#{@room.id}/"}

:javascript
  $(window).load(function(){$(".scroll-bottom").attr("scrollTop",$(".scroll-bottom").attr("scrollHeight"));});
  $(document).ready(function(){
    var conversationHeight = $(window).height() - 200;
    if (conversationHeight < 300 ) conversationHeight = 300;
    $('.conversation-container').css("height", conversationHeight);
    $(".scroll-bottom").attr("scrollTop",$(".scroll-bottom").attr("scrollHeight"));
    $("#user-count").text('#{$rooms_users[@room.id].size}');
    
    var uploader = new qq.FileUploader({
        // pass the dom node (ex. $(selector)[0] for jQuery users)
        element: document.getElementById('file-uploader'),
        // path to server-side upload script
        action: '/message/addfile/#{@room.id}',
        sizeLimit: 5200000,
        onSubmit: function(id, fileName){
          $('.conversation-container').append("<div class='loading'><div class='sender'></div><div class='colored-box chat gray'><img src='/images/loading.gif'/> Uploading File: <div class='pcnt' style='display: inline'>0</div>%</div></div>");
          scrollToBottom();
        },
        onProgress: function(id, fileName, loaded, total){
          $('.pcnt').text((100*loaded/total).toFixed(2));
        },
        onComplete: function(id, fileName, responseJSON){
          $('.loading').remove();
        }
    });
    $(document).click(function(){
      $('.qq-upload-drop-area').hide();
    });
  });
  
  function scrollToBottom(){
    $(".conversation-container").stop(true,true).animate({ scrollTop: $(".conversation-container").attr("scrollHeight")}, 500, 'easeOutQuad');
  }

  