#page-header
  %h1 Courses
.container_12
  -Group.all.find_all{|g| !g.course_number.nil? && g.is_public}.each do |course|
    .grid_4
      .box-header
        %b
          %a.name{:href => "/course/#{course.permalink}"}= course.name
      .box      
        -members = course.members
        -unless members.empty?
          %h2 #{members.count} Member#{"s" unless members.count == 1}
          -course.members.each do |member|
            %p= member.name
%br.cl