.secondary-row
  %input.search-field{:placeholder => "find discussion"}
-@discussions[0..9].each do |topic|
  .secondary-row.no-select{:id => topic.id, :href => "/ui/discussion/#{topic.permalink}"}
    = topic.title
    .page-title= topic.title
  
-if @discussions.count > 9
  .secondary-row.no-select{:href => "/ui/discussions?page=2"}
    %em Older Discussions
    .page-title Old Discussions