#page-header
  %h1
    -if @group
      = @group.name
    -else
      New Group
.container_12
  %form{:action => "/edit-group", :method => "post"}
    -if @group
      %input{:type => "hidden", :name => "group_id", :value => @group.id}
    .grid_12
      .box-header Group Info
      .box
        .row
          %label Name
          %input{:type => "text", :name => "name", :style => "width: 275px;"}
        .row
          %label Abbreviation (optional)
          %input{:type => "text", :name => "abbreviation", :style => "width: 75px;"}
        .row
          %label Privacy
          %input.radio{:checked => "checked", :name => "public", :type => "radio", :value => false}
          %label.radio Public
          %input.radio{:name => "public", :type => "radio", :value => true}
          %label.radio Invite Only
          %br.cl
        .row
          %label{:style => "color: #ccc"} Invite Users
          %input{:type => "text", :disabled => "disabled", :name => 'invite'}

        .row
          %input.button{:type => "submit", :value => "Create Group"}
    %br.cl
