#page-header
  %h1 Events
.container_12
  -Event.all.each do |event|
    .grid_6
      .box-header
        %b= event.name
        %small= Time.parse(event.date).strftime("%b %d %I:%M%p")
      .box
        = event.description
        %p
          %b Attending:
          -event.attendees.each do |user|
            %a{:href => "/user/#{user.permalink}"}= user.name
%br.cl