.search-container
  %input.search-field.e{:placeholder => "find event"}
.secondary-row.no-select{:href => "/ui/new-event", :style => "text-align: center;"}
  %strong New Event
  .page-title New Event
-@events.find_all{|e| e.date > Time.now.to_i}[0..9].each do |event|
  .secondary-row.no-select{:id => event.id, :href => "/ui/event/#{event.permalink}"}
    = truncate(event.name, 13)
    .fr{:style => "color: #999"}= event.short_date
    .page-title= event.name
    
.secondary-row.no-select{:href => "/ui/past-events"}
  %em Past Events
  .page-title Past Events