#page-header
  %h1 Events
-Event.all.each do |event|
  .container_12
    .grid_12
      .box-header
        %b= event.name
        %small= event.date
      .box          
        %h2 Attendees
        -event.attendees.each do |user|
          %p= user.name
%br.cl