#page-header
  %h1= @event.name
.container_12
  .grid_12
    .box-header
      = Time.parse(@event.date).strftime("%b %d %I:%M%p")
      at
      = @event.location
    .box          
      %h2 Attendees
      -@event.attendees.each do |user|
        %p= user.name
%br.cl