%div{:style => "margin-left: 30px; margin-top: 20px;"}
  ="No files in this room." if @files.empty?
  -@files.each do |file|
    .colored-box.chat.file-container
      .message-date= Time.at(file.date).strftime("%b %e %l:%M%p")
      %a.file{:href => file.url, :target => "_blank", :style => ' text-align: left;'}= file.name