.search-container
  %input.search-field.g{:placeholder => "find group"}
.secondary-row.no-select{:href => "/ui/new-group", :style => "text-align: left;"}
  %strong New Group
  .page-title New Group
-@groups.each do |group|
  .secondary-row.no-select{:id => group.id, :href => "/ui/group/#{group.permalink}"}
    = truncate(group.name, 13)
    .page-title= group.name
  
.secondary-row.no-select{:href => "/ui/groups"}
  %b Browse Groups
  .page-title Browse Groups