
/ Start Page Header
#page-header
  %h1 Recent Events
/ End Page Header
/ Start Grid
.container_12
  / Start Web Stats
  .grid_8
    .box-header Table Example
    .box.table
      %table{:cellspacing => "0"}
        %thead
          %tr
            %td.tc
              %input.checkbox{:type => "checkbox", :value => ""}/
            %td Name
            %td Email
            %td Joined
            %td Usergroup
            %td Options
        %tbody
          %tr
            %td.tc
              %input.checkbox{:type => "checkbox", :value => ""}/
            %td John
            %td lorm@ipsum.com
            %td 9/5/2010
            %td Member
            %td.tc
              %a{:href => "#", :title => "Edit User"}
                %img{:alt => "edit user", :border => "0", :src => "./img/icons/small/user_edit.png"}/
              %a{:href => "#", :title => "Delete User"}
                %img{:alt => "delete user", :border => "0", :src => "./img/icons/small/user_delete.png"}/
          %tr
            %td.tc
              %input.checkbox{:type => "checkbox", :value => ""}/
            %td John
            %td lorm@ipsum.com
            %td 9/5/2010
            %td Member
            %td.tc
              %a{:href => "#", :title => "Edit User"}
                %img{:alt => "edit user", :border => "0", :src => "./img/icons/small/user_edit.png"}/
              %a{:href => "#", :title => "Delete User"}
                %img{:alt => "delete user", :border => "0", :src => "./img/icons/small/user_delete.png"}/
          %tr
            %td.tc
              %input.checkbox{:type => "checkbox", :value => ""}/
            %td John
            %td lorm@ipsum.com
            %td 9/5/2010
            %td Member
            %td.tc
              %a{:href => "#", :title => "Edit User"}
                %img{:alt => "edit user", :border => "0", :src => "./img/icons/small/user_edit.png"}/
              %a{:href => "#", :title => "Delete User"}
                %img{:alt => "delete user", :border => "0", :src => "./img/icons/small/user_delete.png"}/
          %tr
            %td.tc
              %input.checkbox{:type => "checkbox", :value => ""}/
            %td John
            %td lorm@ipsum.com
            %td 9/5/2010
            %td Member
            %td.tc
              %a{:href => "#", :title => "Edit User"}
                %img{:alt => "edit user", :border => "0", :src => "./img/icons/small/user_edit.png"}/
              %a{:href => "#", :title => "Delete User"}
                %img{:alt => "delete user", :border => "0", :src => "./img/icons/small/user_delete.png"}/
          %tr
            %td.tc
              %input.checkbox{:type => "checkbox", :value => ""}/
            %td John
            %td lorm@ipsum.com
            %td 9/5/2010
            %td Member
            %td.tc
              %a{:href => "#", :title => "Edit User"}
                %img{:alt => "edit user", :border => "0", :src => "./img/icons/small/user_edit.png"}/
              %a{:href => "#", :title => "Delete User"}
                %img{:alt => "delete user", :border => "0", :src => "./img/icons/small/user_delete.png"}/
          %tr
            %td.tc
              %input.checkbox{:type => "checkbox", :value => ""}/
            %td John
            %td lorm@ipsum.com
            %td 9/5/2010
            %td Member
            %td.tc
              %a{:href => "#", :title => "Edit User"}
                %img{:alt => "edit user", :border => "0", :src => "./img/icons/small/user_edit.png"}/
              %a{:href => "#", :title => "Delete User"}
                %img{:alt => "delete user", :border => "0", :src => "./img/icons/small/user_delete.png"}/
          %tr
            %td.tc
              %input.checkbox{:type => "checkbox", :value => ""}/
            %td John
            %td lorm@ipsum.com
            %td 9/5/2010
            %td Member
            %td.tc
              %a{:href => "#", :title => "Edit User"}
                %img{:alt => "edit user", :border => "0", :src => "./img/icons/small/user_edit.png"}/
              %a{:href => "#", :title => "Delete User"}
                %img{:alt => "delete user", :border => "0", :src => "./img/icons/small/user_delete.png"}/
          %tr
            %td.tc
              %input.checkbox{:type => "checkbox", :value => ""}/
            %td John
            %td lorm@ipsum.com
            %td 9/5/2010
            %td Member
            %td.tc
              %a{:href => "#", :title => "Edit User"}
                %img{:alt => "edit user", :border => "0", :src => "./img/icons/small/user_edit.png"}/
              %a{:href => "#", :title => "Delete User"}
                %img{:alt => "delete user", :border => "0", :src => "./img/icons/small/user_delete.png"}/
          %tr
            %td.tc
              %input.checkbox{:type => "checkbox", :value => ""}/
            %td John
            %td lorm@ipsum.com
            %td 9/5/2010
            %td Member
            %td.tc
              %a{:href => "#", :title => "Edit User"}
                %img{:alt => "edit user", :border => "0", :src => "./img/icons/small/user_edit.png"}/
              %a{:href => "#", :title => "Delete User"}
                %img{:alt => "delete user", :border => "0", :src => "./img/icons/small/user_delete.png"}/
  / End Table
  / Start Formatting
  .grid_4
    .box-header Formatting
    .box
      %h2 Headline
      %p
        Lorem ipsum dolor sit amet, consectetur
        %a{:href => "#"} adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %h3 Headline
      %ul
        %li Cupidatat non
        %li Officia deserunt mollit
        %li Velit esse cillum
      %h4 Headline
      %ol
        %li Ullamco laboris
        %li Pcupidatat non proident
        %li Duis aute irure dolor
  %br.cl/

