#page-header
  %h1
    Recent Events
    %small (eventually)
.container_12
  .grid_12
    .box-header Class Axis
    .box
      %h2 What's Class Axis?
      %p
        It's a website for college students to communicate and collaborate on schoolwork.
      %h3 Headline
      %ul
        %li Cupidatat non
        %li Officia deserunt mollit
        %li Velit esse cillum
      %h4 Headline
      %ol
        %li Ullamco laboris
        %li Pcupidatat non proident
        %li Duis aute irure dolor
  %br.cl

