#page-header
  %h1
    Recent Events
    %small (eventually)
.container_12
  .grid_12
    .box-header Class Axis
    .box
      %h2 What's Class Axis?
      %p
        It's a website for college students to communicate and collaborate on schoolwork.
      %h2.notification.warning Watch out! We're constantly working on this site. <br/> We'll try not to lose your data, but we can't make any promises.
  %br.cl

