#page-header
  %h1 Invite Iour Classmates
.container_12
  -Event.all.sort_by{|e| e.date}.each do |event|
    .grid_4
      .box-header
        %a.name{:href => "/event/#{event.permalink}"}= event.name
        %small= Time.at(event.date).strftime("%b %e %l:%M%p")
      .box
        = event.description
        %p
          %b Attending:
          -event.attendees.each do |user|
            %a{:href => "/user/#{user.permalink}"}= user.name
%br.cl