-date = Time.at(@message.date)
-sent = (@user.id == @message.sender_id)
-file = Upload.get(@message.upload_id) if @message.upload_id
-sender = User.get(@message.sender_id)
.message-container
  .sender
    = sender.first_name
  -if file && ['png', 'jpg', 'jpeg', 'gif'].include?(file.file_type)
    .colored-box.chat.invisible
      %img{:src => file.url, :style => "max-width: 350px"}
    .sender
  .colored-box.chat{:class => ( file ? "file-container" : !@force_blue && sent ? "gray" : "blue")}
    .message-date= date.strftime("%l:%M%p")
    -if file
      %a.file{:href => file.url, :target => "_blank"}= file.name
    = @message.content
