-date = Time.at(@message.date)
-sent = (@user.id == @message.sender_id)
.message-container
  .sender
    = sent ? @user.first_name : @collaborator.first_name
  .colored-box.chat{:class => ( @message.upload_id ? "file-container" : !@force_blue && sent ? "gray" : "blue")}
    .message-date= date.strftime("%l:%M%p")
    -if @message.upload_id && (file = Upload.get(@message.upload_id))
      %a.file{:href => file.url, :target => "_blank"}= file.name
    = @message.content
