.secondary-row-nohover.no-select
  &nbsp;
  .new-button.flush-right.browse-rooms Find a Room
  .new-button.flush-left.new-room New Room
-@rooms.sort_by{|r| -r.last_message.date}.each do |@room|
  =haml :room_row, :layout => false
      

:javascript
  $(document).ready(function(){
    $("#smessages").children(".secondary-row").first().click();
    var modal = $(".modal");
    $(".new-room").click(function(){
      $(".modal-new-room").show();
      showModal();
    });
    $(".create-room").click(function(){
      var addedIDs = $(".added-ids").val();
      var newName = $(".new-name").val();
      $.post("/ui/create-room/", {'name': newName, 'ids': addedIDs, 'public': $("#public").is(":checked")}, function(data){
        $("#smessages").append(data);
        hideModal();
      });
    });
    $(".browse-rooms").click(function(){
      $(".modal-browse-rooms").show();
      showModal();
    });
    $(".hud-button.downloads").click(function(){
      $(".modal-files").show();
      $(".files-content").html("<img src='/images/loading.gif'/>");
      
      $.get("/ui/file-list/" + $(".secondary-row.selected").attr("id"), function(data){
        $(".files-content").html(data);
      });
      showModal();
    });
    $(".hud-button.settings").click(function(){
      $(".modal-settings").show();
      $(".settings-content").html("<img src='/images/loading.gif'/>");
      
      $.get("/ui/settings/" + $(".secondary-row.selected").attr("id"), function(data){
        $(".settings-content").html(data);
      });
      showModal();
    });
    $(".hud-button.users").click(function(){
      $(".modal-users").show();
      $(".users-content").html("<img src='/images/loading.gif'/>");
      
      $.get("/ui/user-list/" + $(".secondary-row.selected").attr("id"), function(data){
        $(".users-content").html(data);
      });
      showModal();
    });
    $(".shroud").click(function(){
      hideModal();
    });
    if (typeof Pusher !== 'undefined'){
      var pusher = new Pusher('84d6245235e5b198d8aa');

      var newListener = pusher.subscribe('new_messages');
      newListener.bind('newMessage', function(data) {
        console.log("New message.");
        var room = data.room;
        var badge = $("#"+room).find(".badge");
        if ($("#"+room).hasClass("selected") || badge.length == 0) return false;
        badge.text(parseInt(badge.text()) + 1);
        badge.removeClass("clear").addClass("dark-green");
      });
    }

  });
  
  $(".join-room").live("click", function(){
    $.post($(this).attr("href"), function(data){
      $("#smessages").append(data);
      hideModal();
    });
    $(this).parent().parent().remove();
  });
  function showModal(){
    $(".shroud").fadeIn(100);
    $(".modal-border").fadeIn(100);
    $(".modal").fadeIn(100);
  }
  
  function hideModal(){
    $(".shroud").fadeOut(50);
    $(".modal-border").fadeOut(50);
    $(".modal").fadeOut(50, function(){
      $(".modal-pane").hide();
    });
  }
  
  $(document).keydown(function(e){
    if (e.keyCode == 27){ //escape
      hideModal();
    }
  });