#page-header
  %h1 New Event
.container_12
  %form{:action => "/new-event", :method => "post"}
    %input{:type => "hidden", :name => "calendar_id", :value => params[:calendar_id]}
  
    .grid_12
      .box-header Event
      .box
        .row
          %label Title
          %input{:type => "text", :name => "name", :style => "width: 60%;"}
        .row
          %label Tags
          %input{:type => "text", :name => "tags", :style => "width: 30%;", :value => params[:tag]}
        .row
          %label Location
          %input{:type => "text", :name => "location", :style => "width: 30%;"}
        .row
          %label Date
          %input.datepicker{:type => "text", :name => "date", :style => "width: 15%;"}
        .row
          %label Time (hh:mm AM/PM)
          %input{:type => "text", :name => "time", :style => "width: 15%"}

        .row
          %label Description
          %textarea.textarea{:name => "description",:style => "width: 60%; height: 100px;"}
        .row
          %input.button{:type => "submit", :value => "Create Event"}/
        %br.cl

        
    %br.cl
    
    
:javascript
  $(document).ready(function(){
    $(".datepicker").datepicker();
  });
