.container_12
  %form{:action => "/ui/new-event", :method => "post"}  
    .grid_12
      .box.headless
        .row
          %label Title
          %input{:type => "text", :name => "name", :style => "width: 60%;"}
        .row
          %label Location
          %input{:type => "text", :name => "location", :style => "width: 30%;"}
        .row
          %label Date
          %input.datepicker{:type => "text", :name => "date", :style => "width: 15%;", :value => (params[:day] ? Time.at(params[:day].to_i).strftime("%m/%d/%y") : "")}
        .row
          %label Time (hh:mm AM/PM)
          -if params[:hour]
            -hour = (params[:hour].to_i - 1)%12 + 1
            -hour = hour.to_s + ":00 " + (params[:hour].to_i < 12 ? "am" : "pm")
          -else
            -hour = ""
          %input{:type => "text", :name => "time", :style => "width: 15%", :value => hour}

        .row
          %label Description
          %textarea.textarea{:name => "description",:style => "width: 60%; height: 100px;"}
        .row
          %input.button{:type => "submit", :value => "Create Event"}/
        %br.cl

        
    %br.cl
    
    
:javascript
  $(document).ready(function(){
    $(".datepicker").datepicker();
  });
