#page-header
  %h1 New Event
.container_12
  %form{:action => "", :method => "post"}
  
    .grid_12
      .box-header Event
      .box
        .row
          %label Title:
          %input{:type => "text", :style => "width: 60%;"}
        .row
          %label Location:
          %input{:type => "text", :style => "width: 60%;"}
        .row
          %label Tags:
          %input{:type => "text", :style => "width: 60%;", :value => params[:tag]}
        .row
          %label Description:
          %textarea.textarea{:name => "content",:style => "width: 60%; height: 100px;"}
        .row
          %input.button{:type => "submit", :value => "Start Discussion"}/
        %br.cl

        
    %br.cl
