.colored-box.gray{:id => @post.id}
  %h3{:style => "color: #444"}
    %a.name{:href => "/user/#{@post.creator.permalink}"}= @post.creator.name
    %small
      = @post.time_since
    %a{:href => "/post/#{@post.permalink}"} &infin;
  =@post.content
  
.indent
  %form.response.colored-box.yellow{:style => "display: none;", :id => "r" + @post.id}
    %input{:type => "hidden", :name => 'parent_id', :value => @post.id}
    %textarea.content{:style => "width: 97%; height: 75px", :name => 'content'}
    %br
    %input.awesome.blue.medium.reply{:type => "submit", :value => "Reply"}
  -@post.children.each do |@post|
    = haml :post