#page-header
  %h1 Reply
.container_12
  .grid_12
    .box-header
      %b= @parent.topic.title
    .box          
      .colored-box.blue.head
        %h3{:style => "color: #444"}
          %a.name{:href => "/user/#{@parent.creator.permalink}"}= @parent.creator.name
          %small= @parent.time_since
        =@parent.content
      %form{:style => "margin-left: 25px", :action => "", :method => "POST"}
        .row
          %textarea.textarea{:name => "content",:style => "width: 95%; height: 100px;"}          
        .row
          %input.awesome.blue.large{:type => "submit", :value => "Post", :style => "width: 150px; margin: 5px 0 0 0"}
%br.cl