#page-header
  %h1 Settings
.container_12
  .grid_12
    .box-header
      %b Privacy
    .box      
      %p Privacy Settings.
      %h3 Allow being found when
      %ul
        %li Same Class/Group
        %li Same School
        %li Never
  .grid_12
    .box-header
      %b Display
    .box      
      Display Settings.
%br.cl