%p
  %a{:href => "http://www.w3.org/TR/html401/struct/lists.html"} What are %ul and %li?
%h2 Topics
%ul
  -Topic.all.each do |topic|
    %li
      =topic.title
      %ul
        -topic.children.each do |child|
          %li
            =child.content
          
%a{:href => "/topics/autogenerate"} Autogenerate new Topic