!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %link{:href => "/css/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/jqui.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %title Class Axis
    %script{:src => "/js/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery-ui-1.8.4.custom.min.js", :type => "text/javascript"}
    %script{:src => "/js/excanvas.js", :type => "text/javascript"}
    %script{:src => "/js/visualize.jQuery.js", :type => "text/javascript"}
    %script{:src => "/js/functions.js", :type => "text/javascript"}
  %body
    #login-wrapper{:style => "width: 700px; margin-top: 20px"}
      .box-header.login.center{:style => "font-size: 4.5em;"}
        Painless real-time communication.
      .box{:style => "margin-bottom: 0;"}
        %a.awesome.green.large.center{:style => "font-size: 3em; font-weight: bold; display: block; color: white;", :href => "/signup"} Join Now
    %br.cl
        